body .container .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    
    position: relative;
}

body .container .content .divider {
    margin: 5px 0 5px 0;
    border-radius: 5px;
    width: 5px;
    cursor: ew-resize;
    background-color: #ccc;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body .container .content .divider button {
    height: 50px;
}

body .container .content .divider:hover {
    background-color: #999;
}

body .container .content .input-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

body .container .content .input-form form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

body .container .content .input-form form textarea {
    flex: 1;
    resize: none;
    padding: 10px;
}

body .container .content .input-form form textarea:focus {}

body .container .content .input-form form .save-as {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

body .container .content .input-form form .save-as #submit,
body .container .content .input-form form .save-as #draft{
    height: 25px;
    margin: 2px 2px 0 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

body .container .content .input-form form .save-as #submit:hover,
body .container .content .input-form form .save-as #draft:hover {
    background-color: #0056b3;
}

body .container .content .input-form form .save-as #reset {
    height: 25px;
    margin: 2px 2px 0 0;
    background-color: #ff8080;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

body .container .content .input-form form .save-as #reset:hover {
    background-color: #e60000;
}

body .container .content .settings-form {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 5px 10px;
    min-width: 300px;
}

body .container .content .settings-form .minimize {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

body .container .content .settings-form .minimize #minimize-button {
    margin-left: auto;
    height: 25px;
    width: 25px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

body .container .content .settings-form form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

body .container .content .settings-form form .form-group {
    display: flex;
    align-items: center;
    margin: 4px;
}

body .container .content .settings-form form .form-group label {
    flex: 1;
    margin-right: 10px;
}

body .container .content .settings-form form .form-group input,
body .container .content .settings-form form .form-group .tags-container,
body .container .content .settings-form form .form-group select {
    flex: 2;
    padding: 8px;
}

body .container .content .settings-form form .form-group .tags-container {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #8F8F9D;
    border-radius: 2px;
    transition: border-color 0.2s ease;
}

body .container .content .settings-form form .form-group .tags-container:focus-within {
    border-color: #007bff;
    box-shadow: 0 0 0 1px #007bff;
}

body .container .content .settings-form form .form-group .tags-container #tags-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0px;
}

/* body .container .content .settings-form form .form-group .tags-container #tags-input:focus::placeholder {
    color: transparent;
} */

body .container .content .settings-form form .form-group .tags-container .tag-span {
    background-color: #007bff;
    color: white;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 2px;
}

body .container .content .settings-form form .form-group .tags-container .tag-span .tag-close {
    margin-left: 8px;
    cursor: pointer;
}


body .container .content .settings-form form #visibility-popup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

body .container .content .settings-form form #duration-popup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

body .container .content .settings-form form #visibility-popup .specific-users-tags-container,
body .container .content .settings-form form #duration-popup input {
    padding: 10px;
    margin: 2px 0 2px 0;
}

body .container .content .settings-form form #visibility-popup .specific-users-tags-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #8F8F9D;
    border-radius: 2px;
    transition: border-color 0.2s ease;
}

body .container .content .settings-form form #visibility-popup .specific-users-tags-container:focus-within {
    border-color: #007bff;
    box-shadow: 0 0 0 1px #007bff;
}

body .container .content .settings-form form #visibility-popup .specific-users-tags-container #specific-users-tags-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0px;
}

body .container .content .settings-form form #visibility-popup .specific-users-tags-container .specific-users-tags-span {
    background-color: #007bff;
    color: white;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 2px;
}

body .container .content .settings-form form #visibility-popup .specific-users-tags-container .specific-users-tags-span .specific-users-tags-close {
    margin-left: 8px;
    cursor: pointer;
}

.tag-span,
.specific-users-tags-span {
    user-select: none;
}

body .container .content .settings-form form #reset-settings {
    height: 25px;
    margin: 2px 2px 0 0;
    background-color: #ff8080;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;

    margin-top: auto;
    justify-content: center;
}

body .container .content .settings-form form #reset-settings:hover {
    background-color: #e60000;
}