body .container .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .container .content .logout-box {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: large;
}

body .container .content .logout-box p {
    padding-top: 5px;
    font-size: medium;
}

body .container .content .logout-box #logout-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #dc3545;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: medium;
    width: 100%;
}

body .container .content .logout-box #logout-button:hover {
    background-color: #a71d2a;
}