/* static/css/module_notification.css */
body .container .content .notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

body .container .content .notification-container .notification-good {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    width: 500px;
    transition: right 0.10s ease, opacity 0.10s ease;
}

body .container .content .notification-container .notification-good:hover {
    background-color: #218838;
}

body .container .content .notification-container .notification-bad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    width: 500px;
}

body .container .content .notification-container .notification-bad:hover {
    background-color: #c82333;
}

body .container .content .notification-container .notification-warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc107;
    color: #fff;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    width: 500px;
}

body .container .content .notification-container .notification-warning:hover {
    background-color: #e0a800;
}

body .container .content .notification-container .notification-close {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

body .container .content .notification-container .notification-close:hover {
    color: #000;
}