* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body .register-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body .register-container header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

body .register-container header .logo {
    margin-left: 10px;
}

body .register-container header .logo h1 a {
    text-decoration: none;
    color: black;
}
body .register-container header nav {
    display: flex;
    flex-direction: row;    
}
body .register-container header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
body .register-container header nav ul li {
    margin: 0 20px;
}
body .register-container header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}

body .register-container header nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body .register-container header .search {
    flex: 1;
    margin: 0 20px;
}

body .register-container header .search form input {
    width: 250px;
    padding: 5px;
}

body .register-container header .search form button {
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

body .register-container header .search form button:hover {
    background-color: #0056b3;
}

body .register-container header .profile {
    margin-left: auto;
    margin-right: 5px;
}

body .register-container header .profile img {}

body .register-container .register-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}