/* static/css/register.css */
input:focus, 
textarea:focus, 
select:focus, 
button:focus {
    outline: none;
}

body .container .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .container .content .register-box {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: large;
}

body .container .content .register-box p {
    padding-top: 5px;
    font-size: medium;
}

body .container .content .register-box p a {
    text-decoration: none;
    color: #007bff;
}

body .container .content .register-box form {
    padding-top: 30px;
}

body .container .content .register-box hr {
    margin: 20px 0 20px 0;
}

body .container .content .register-box form .username-box,
body .container .content .register-box form .email-box,
body .container .content .register-box form .password-box {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-size: medium;
}

body .container .content .register-box form .username-error,
body .container .content .register-box form .email-error,
body .container .content .register-box form .password-error {
    font-size: small;
    color: #dc3545;
}

body .container .content .register-box form .password-box .attach-toggle-button {
    display: flex;
    justify-content: space-between;
}

body .container .content .register-box form .password-box .attach-toggle-button #password-input {
    width: 100%;
}

body .container .content .register-box form .password-box .attach-toggle-button #toggle-password-visibility-button {
    padding: 5px;
    border: none;
    cursor: pointer;
}

body .container .content .register-box form div input {
    padding: 4px;
}

body .container .content .register-box form #register-button {
    margin-top: 60px;
    padding: 10px;
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: medium;
    width: 100%;
}

body .container .content .register-box form #register-button:hover {
    background-color: #0056b3;
}

body .container .content .register-box form .import-guest-data {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

body .container .content .register-box form .import-guest-data input {
    margin-right: 5px;
}

body .container .content .register-box form .import-guest-data label {
    font-size: medium;
}

body .container .content .register-box form .signin-as-guest #guest-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    width: 100%;
}