* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus, 
textarea:focus, 
select:focus, 
button:focus {
    outline: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body .container header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

body .container header .site-logo {
    margin-left: 10px;
}

body .container header .site-logo h1 a {
    text-decoration: none;
    color: black;
}

body .container header nav {
    display: flex;
    flex-direction: row;    
}

body .container header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

body .container header nav ul li {
    margin: 0 20px;
}

body .container header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}

body .container header nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body .container header .search-box {
    flex: 1;
    margin: 0 20px;
}

body .container header .search-box #search-form #search-input {
    width: 250px;
    padding: 5px;
}

body .container header .search-box #search-form #search-button {
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

body .container header .search-box #search-form #search-button:hover {
    background-color: #0056b3;
}

body .container header .profile-icon {
    margin-left: auto;
    margin-right: 5px;
}

body .container header .profile-icon img {}

body .container .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .container .content .register-box {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: large;
}

body .container .content .register-box p {
    padding-top: 5px;
    font-size: medium;
}

body .container .content .register-box p a {
    text-decoration: none;
    color: #007bff;
}

/* body .container .content .register-box .forgot-password {
    font-size: medium;
    display: flex;
    justify-content: end;
}

body .container .content .register-box .forgot-password a {
    text-decoration: none;
    color: #dc3545;
}

body .container .content .register-box .forgot-password a:hover {
    color: #a71d2a;
} */

body .container .content .register-box form {
    padding-top: 30px;
}

body .container .content .register-box hr {
    margin: 20px 0 20px 0;
}

body .container .content .register-box form .username-box,
body .container .content .register-box form .email-box,
body .container .content .register-box form .password-box {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-size: medium;
}

body .container .content .register-box form .username-error,
body .container .content .register-box form .email-error,
body .container .content .register-box form .password-error {
    font-size: small;
    color: red;
}

body .container .content .register-box form .password-box .attach-toggle-button {
    display: flex;
    justify-content: space-between;
}

body .container .content .register-box form .password-box .attach-toggle-button #password-input {
    width: 100%;
}

body .container .content .register-box form .password-box .attach-toggle-button #toggle-password-visibility-button {
    padding: 5px;
    border: none;
    cursor: pointer;
}
body .container .content .register-box form div input {
    padding: 4px;
}

body .container .content .register-box form #register-button {
    margin-top: 60px;
    padding: 10px;
    background-color: #007bff;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: medium;
    width: 100%;
}

body .container .content .register-box form #register-button:hover {
    background-color: #0056b3;
}

body .container .content .register-box form .signin-as-guest #guest-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
    width: 100%;
}